@import 'basic -styles/basic';
.templateWrapper{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-direction: column;
  margin: 7px 0 0;
  border-radius: 10px 0 10px 0;
  border: solid #007500;
  box-sizing: border-box;
  font-family: $font-stack;
  font-size: $size-of-font;

}
.card-info{
  display: flex;
  flex-direction: row;
}